body {
  background-image: url("../IMG/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float:left;
  width: 33.3%;
  margin:0 auto;
  padding: 15 15px;
}

.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  
}

.about-section {
  padding: 45px;
  text-align: center;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: orange;
}

.aboutus {
  padding: 0 16px;
  color: orange;
}

.aboutus::after, .row::after {
  content: "";
  clear: both;
  display: table;
}   
.card {
	 box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5)
	  margin: 0 auto;
}
.Container{
	margin:auto;
	..border:1px solid blue;
	width: 1000px;
	height: 2000px;
}
.headercon{
	width: 1000px;
	height: 100px;

}
.logo{
	background: url("../IMG/msilogo.jpg") no-repeat center;
	width: 300px;
	height: 110px;
	float: left;
	padding-left: 0px;
}
.headright {
	width: 700px;
	background-color: black;
	height: 110px;
	float: right;
}
.headright small{
	float: right;
	font-size: 16px;
	color: #fff;
}
.headright label{
	float: right;
	font-size: 18px;
	color: yellow;
}
.navbg{
	width: 1000px;
	background-color: red; 
	height: 170px;
}
.nav_inside ul{
	margin:0;
	padding: 0;
	display: inline-blocks;
	height: 60px;
	font-size: 18px;
	font-family: bitter;
}
.nav_inside ul li{
display: inline-block;
padding: 0 30px;
color: #000;
position: relative;
margin: 0 auto;
}
.nav_inside ul li a{
	text-decoration: none;
	color: orange;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
}
.nav_inside a:hover{
	height: 56px;
	background-color:blue;
	text-transform: uppercase;
}
.flashcon{
	margin: 0 auto;
	width: 1000px;
	height: 350;
	background:red;
}
.midboxcon{
	margin: 0 auto;
	width: 1000px;
	height: 200px;
}
.midbox1{
	margin: 0 auto;
	width: 333px;
	height: 187px;
	background: url("../IMG/midbox1.jpg");
	float: left;
}
.midbox2{
	margin: 0 auto;
	width: 333px;
	height: 187px;
	background: url("../IMG/midbox2.jpg");
	float: left;
}
.midbox3{
	margin: 0 auto;
	width: 334px;
	height: 187px;
	float: right;
	background: url("../IMG/midbox3.jpg");
}
.footer {
  position: relative fixed;
  width: 100%;
  background: url("../IMG/foot.gif");
  background-size: 100% 100%;
  min-height: 0px;
  padding: 15px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -1%;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: yellow;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: orange;
}

.menu__link {
  font-size: 1.2rem;
  color: yellow;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color: violet;
}

.footer p {
	position: relative fixed;
  color: violet;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (max-width:768px){

.container {
	border:none;
	width: 100%;
	height:auto;
	--display:flex-y;
}
.logo{
	width: 100%;
	height: auto;
}
.logo img{
	width:100%;
}
.headright{
	width: 100%;
	height: auto;
	float: left;
	display: none;
}
--.headercon{
	margin:auto;
	background-color:darkslategray;
	border-radius:50px 50px 0px 0px;
	float:left;
	width:100%;
	height: auto;
	padding-top:10px;
	
}
.flashcon{
	display:none;
	
	
}
.navbg{
	width:100%;
	height: auto;
	float:left;
	background-image:none;
	background-color:black;
	display:block;
}
.nav_inside {
	width: 100%;
	height: auto;
	float:left;
	text-align:center;
	--background-color:midnightblue;
}
.nav_inside ul li {
	display: inline-block;
	list-style-type:none;
	width: 90%;
	height: auto;
	float: left;
	background-color:black;
	background-image:none;
	background-repeat:none;
}
.nav_inside a{
	text-decoration: none;
	text-align:center;
	font-size: 2VW;
	font-family:arial;
	color:darkorange;
}
--.nav_inside ul{
	margin:0;
	padding: 0;
	display: inline-block;
	height: 60px;
	font-size: 1.2vw;
	font-family: bitter;
}
.midboxcon{
	width: 100%;
	height: auto;
}
.midbox1{
	width: 33%;
	height: auto;
	float: left;
	background-image: 100%;
}
.midbox1 img{
	width: 100%;
	height:auto;
}
.midbox2{
	width: 33%;
	height: auto;
	float: left;
}
.midbox2 img{
	width: 100%;
	height:auto;
}
.midbox3{
	width: 34%;
	height: auto;
	float: left;
}
.midbox3 img{
	width: 100%;
	height:auto;
}
.footer {
	width: 100%;
	height: auto;
	font-size:2vw;
}
.menu li{
	background-color:black;
	width: 100%;
	height: auto;
	padding:0;
}
}
